---
import Avatar from '../avatar/me-office.svg?raw';
import Link from '../links/Link.astro';
import Standout from '../standout/Standout.astro';
import appConfig from '../../appConfig';

interface StrapiResponse {
  data: Skill[];
}

interface Skill {
  id: string;
  attributes: {
    label: string;
    url: string;
    logo: Logo;
  };
}

interface Logo {
  data: {
    attributes: {
      name: string;
      mime: string;
      width: number;
      height: number;
      url: string;
    };
  };
}

const fetchSkills = async (): Promise<StrapiResponse> => {
  const response: Response = await fetch(`${appConfig.STRAPI_URL}/api/skills?populate=*`, {
    headers: {
      'Content-Type': 'application/json',
      Authorization: `Bearer ${appConfig.STRAPI_TOKEN}`,
    },
  });
  const data: StrapiResponse = await response.json();
  return data;
};

const data = await fetchSkills();
const skills = data.data.map((skill: Skill) => {
  return {
    id: skill.id,
    label: skill.attributes.label,
    url: skill.attributes.url,
    logo: skill.attributes.logo.data.attributes.url,
  };
});
---

<div class="relative flex flex-col sm:flex-row w-[90%] lg:w-2/3">
  <div class="p-5">
    <span class="block font-black text-xl mb-2 font-writing">Hello everyone!</span>
    <p class="block mb-2">
      Over the past
      <Standout>11 years,</Standout>
       I've cultivated a diverse and enriching professional journey in
      <Link url="https://www.infoscience.co.jp/">JAPAN</Link>
       and
      <Standout>FRANCE.</Standout>
       My career has taken me through various sectors, such as
      <Link url="https://oppscience.com/">AI,</Link>
      <Link url="https://www.harvest.eu/">Finance,</Link>
      <Link url="https://www.team-y.fr/">Industry 4.0,</Link>
      <Link url="https://www.acs-ami.com/en">Insurance,</Link>
      <Link url="https://www.renaultgroup.com/">Automobile,</Link>
      <Link url="https://www.pole-emploi.fr">Employment</Link>
       and
      <Link url="https://sante.gouv.fr/">Government</Link>
       agencies. I've also worked for high-paced
      <Link url="https://www.convelio.com/">Private</Link>
       and
      <Link url="https://mergify.com/">Open-source</Link>
      <Standout>startups</Standout>
       and numerous
      <Standout>consulting companies:</Standout>
      <Link url="https://www.orange-business.com/">Orange Business Services,</Link>
      <Link url="https://www.akkodis.com/">Akkodis,</Link>
      <Link url="https://www.alliance4u.fr/">Alliance 4U,</Link>
       and
      <Link url="https://www.publicissapient.com/">Publicis Sapient,</Link>
       thus working with dynamic teams and employing various methodologies, both onsite and
      remotely.
    </p>
    <p class="block mb-2">
      I specialize in tackling project challenges in development, architecture, integration,
      configuration, deployment, observability, and evolution. I've navigated various software
      architectures in both on-premise and cloud-native environments, from simple monoliths to
      complex microservices, micro frontends, and serverless systems. I'm particularly passionate
      about High Availability projects, focusing on resilience, fault tolerance, and disaster
      recovery.
    </p>
    <p>
      Additionally, I'm actively involved with
      <Link url="https://geekle.us/">Geekle,</Link>
       a company dedicated to organizing
      <Standout>conferences</Standout>
       and meetups for software engineers, architects, and leaders. I contribute as a
      <Standout>speaker,</Standout>
       moderator, and member of the acceptance committee for global high-tech summits. Beyond
      conference organization, I love delivering
      <Standout>podcasts,</Standout>
       writing
      <Standout>technical articles,</Standout>
       contributing to
      <Standout>open-source projects,</Standout>
       and sharing my code on
      <Link url="https://github.com/gaetanBloch">GitHub.</Link>
      <b class="mt-3 block font-writing text-xl"
        >I'm driven by a relentless desire to learn every day and equally enthusiastic about sharing
        knowledge with others.This perpetual learning and sharing spirit is what continually propels
        me forward in my career and personal growth.</b
      >
    </p>
  </div>
  <span class="inline-flex justify-center">
    <Fragment set:html={Avatar} />
  </span>
</div>
<div class="flex flex-row flex-wrap items-center justify-center gap-3 w-[90%] lg:w-2/3 p-5">
  {
    skills.map(skill => {
      return (
        <>
          <a href={skill.url} class='relative'>
            <span class="flex p-0.5 relative rounded-md w-28 h-20 bg-gradient-to-tr from-secondary-light to-primary">
              <span class="flex flex-col items-center align-middle justify-center h-full w-full bg-background dark:bg-background-dark rounded-md transition-[background] duration-300 relative">
                <img
                  class="absolute top-1/2 left-1/2 w-7 translate-x-[-50%] translate-y-[-70%]"
                  src={skill.logo}
                  alt={skill.label}
                />
                <span class="absolute bottom-1 font-code">{skill.label}</span>
              </span>
              <span class='tech w-full h-full absolute rounded-md top-0 left-0'>
              </span>
            </span>

          </a>
          <a href={skill.url}>
            <span class="flex p-0.5 relative rounded-md w-28 h-20 bg-gradient-to-tr from-secondary-light to-primary">
              <span class="flex flex-col items-center align-middle justify-center h-full w-full bg-background dark:bg-background-dark rounded-md transition-[background] duration-300 relative">
                <img
                  class="absolute top-1/2 left-1/2 w-7 translate-x-[-50%] translate-y-[-70%]"
                  src={skill.logo}
                  alt={skill.label}
                />
                <span class="absolute bottom-1 font-code">{skill.label}</span>
              </span>
            </span>
          </a>
          <a href={skill.url}>
            <span class="flex p-0.5 relative rounded-md w-28 h-20 bg-gradient-to-tr from-secondary-light to-primary">
              <span class="flex flex-col items-center align-middle justify-center h-full w-full bg-background dark:bg-background-dark rounded-md transition-[background] duration-300 relative">
                <img
                  class="absolute top-1/2 left-1/2 w-7 translate-x-[-50%] translate-y-[-70%]"
                  src={skill.logo}
                  alt={skill.label}
                />
                <span class="absolute bottom-1 font-code">{skill.label}</span>
              </span>
            </span>
          </a>
          <a href={skill.url}>
            <span class="flex p-0.5 relative rounded-md w-28 h-20 bg-gradient-to-tr from-secondary-light to-primary">
              <span class="flex flex-col items-center align-middle justify-center h-full w-full bg-background dark:bg-background-dark rounded-md transition-[background] duration-300 relative">
                <img
                  class="absolute top-1/2 left-1/2 w-7 translate-x-[-50%] translate-y-[-70%]"
                  src={skill.logo}
                  alt={skill.label}
                />
                <span class="absolute bottom-1 font-code">{skill.label}</span>
              </span>
            </span>
          </a>
          <a href={skill.url}>
            <span class="flex p-0.5 relative rounded-md w-28 h-20 bg-gradient-to-tr from-secondary-light to-primary">
              <span class="flex flex-col items-center align-middle justify-center h-full w-full bg-background dark:bg-background-dark rounded-md transition-[background] duration-300 relative">
                <img
                  class="absolute top-1/2 left-1/2 w-7 translate-x-[-50%] translate-y-[-70%]"
                  src={skill.logo}
                  alt={skill.label}
                />
                <span class="absolute bottom-1 font-code">{skill.label}</span>
              </span>
            </span>
          </a>
          <a href={skill.url}>
            <span class="flex p-0.5 relative rounded-md w-28 h-20 bg-gradient-to-tr from-secondary-light to-primary">
              <span class="flex flex-col items-center align-middle justify-center h-full w-full bg-background dark:bg-background-dark rounded-md transition-[background] duration-300 relative">
                <img
                  class="absolute top-1/2 left-1/2 w-7 translate-x-[-50%] translate-y-[-70%]"
                  src={skill.logo}
                  alt={skill.label}
                />
                <span class="absolute bottom-1 font-code">{skill.label}</span>
              </span>
            </span>
          </a>
        </>
      );
    })
  }
</div>

<style lang='scss'>
  .tech {
    transition: all 0.3s ease-in-out;
  }
  .tech:hover {
    background-color: rgba(140, 173, 225, 0.22);
  }
</style>
